## General
.env
node_modules
.DS_Store
.scannerwork/
coverage/
test/
_commands.sh
## Gateway files
gateway/keystore/*.pem
gateway/keystore/*.der
gateway/data/
gateway/log/
## Agent Files
agent/exports/
agent/imports/
## Logs
log/
nginx/logs/
## Redis
redis/data/
