## General
.env
node_modules
package-*
.DS_Store
.scannerwork/
coverage/
*.example
test/
_commands.sh
## Gateway files
gateway/keystore/*.pem
gateway/keystore/*.der
gateway/data/
gateway/log/
## Agent Files
agent/exports/
## Logs
log/
